<div class="header">

   <div class="header-container">

     <h2><a href="/">Newzupp</a></h2>

     <div class="nav">
       <div class="site-link">
         <%= link_to "Tweetmeme", tweetmeme_path %>
       </div>

       <div class="site-link">
         <%= link_to "Digg", digg_path %>
       </div>

       <div class="site-link">
         <%= link_to "Reddit", reddit_path %>
       </div>

       <div class="site-link">
         <%= link_to "HackerNews", hackernews_path %>
       </div>

       <div class="site-link">
         <%= link_to "Home", root_path %>
       </div>

    </div>

</div>

